Repository OhKa39/ou-document-hub: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend-trigger, frontend-trigger

.gitlab-ci.yml:

stages:          
  - triggers

backend-trigger:
  stage: triggers
  trigger:
    include:
      - gitlab-templates/backend.yml
    strategy: depend
  rules:
    - if: "$CI_COMMIT_REF_NAME == 'dev'"  
    - if: "$CI_COMMIT_REF_NAME == 'main'"
    - if: $CI_COMMIT_BEFORE_SHA == "0000000000000000000000000000000000000000"
      when: never
    - changes:
      - "backend/**/*"


frontend-trigger:
  stage : triggers
  trigger:
    include:
      - gitlab-templates/frontend.yml
    strategy: depend
  rules:
    - if: "$CI_COMMIT_REF_NAME == 'dev'"  
    - if: "$CI_COMMIT_REF_NAME == 'main'"
    - if: $CI_COMMIT_BEFORE_SHA == "0000000000000000000000000000000000000000"
      when: never
    - changes: 
      - "frontend/**/*"


dev-trigger:
  stage : triggers
  trigger:
    include:
      - gitlab-templates/dev.yml
    strategy: depend
  needs: [backend-trigger, frontend-trigger]
  rules: 
    - if: "$CI_COMMIT_REF_NAME == 'dev'"

Refactor(backend): refactor code in application.yml, gitlab pipeline and docker
  .prettierrc.js
  backend/.dockerignore
  backend/.gitignore
  backend/Dockerfile
  backend/lombok.config
  backend/pom.xml
  backend/src/main/resources/application-dev.properties
  backend/src/main/resources/application-dev.yml
  backend/src/main/resources/application.properties
  backend/src/main/resources/application.yml
  compose-dev.yml
  docker-compose.yml
  gitlab-templates/backend.yml
  gitlab-templates/frontend.yml
Due: backend-trigger

Test(Container, DocumentsSuggest) Add container, document suggest component test
  frontend/components/Homepage/Container.tsx
  frontend/components/__tests__/Homepage/Container.test.tsx
  frontend/components/__tests__/Homepage/DocumentsSuggest.test.tsx
Due: frontend-trigger

Test(Navbar): Make navbar pass test
  frontend/components/__tests__/Navbar/Navbar.test.tsx
Due: frontend-trigger

Feat(SignUp): Add validation
  frontend/.prettierrc.js
  frontend/app/(auth)/sign-up/page.tsx
  frontend/components/Footer.tsx
  frontend/components/Homepage/DocumentMultiCarousel.tsx
  frontend/components/Navbar/Navbar.tsx
  frontend/components/Navbar/ResponsiveMenu.tsx
  frontend/components/__tests__/Homepage/Container.test.tsx
  frontend/components/sign-up/PasswordStrengthBar.tsx
  frontend/components/ui/calendar.tsx
  frontend/components/ui/phone-input.tsx
  frontend/components/ui/select.tsx
  frontend/package-lock.json
  frontend/package.json
  frontend/utils/CustomPasswordStrength.ts
Due: frontend-trigger

Refactor(components/ui): Change font size from sm to base
  frontend/components/ui/form.tsx
  frontend/components/ui/input.tsx
  frontend/components/ui/label.tsx
  frontend/components/ui/select.tsx
Due: frontend-trigger

Chore(frontend): Config jest, add more dependencies
  frontend/app/globals.css
  frontend/jest.config.ts
  frontend/package-lock.json
  frontend/package.json
Due: frontend-trigger

Feat(SignUp): Add password strength bar and third apps button to sign up
  frontend/app/(auth)/sign-in/page.tsx
  frontend/app/(auth)/sign-up/page.tsx
  frontend/components/(auth)/ThirdAppsButton.tsx
  frontend/components/(auth)/sign-up/PasswordStrengthBar.tsx
  frontend/package-lock.json
  frontend/package.json
Due: frontend-trigger

Test(frontend): Add mock libraries(react-multi-carousel, react-social-icons, next/navigation) and components(DocumentItem)
  frontend/__mocks__/components/DocumentItem.tsx
  frontend/__mocks__/next/navigation.tsx
  frontend/__mocks__/react-multi-carousel.tsx
  frontend/__mocks__/react-social-icons.tsx
Due: frontend-trigger

Feat(SignIn): Add signin page, refactor PasswordStrengthBar, ad ThirdAppsButton component
  frontend/app/(auth)/sign-in/page.tsx
  frontend/components/(auth)/sign-up/PasswordStrengthBar.tsx
  frontend/components/__tests__/(auth)/ThirdAppsButton.test.tsx
Due: frontend-trigger

Refactor(dockerfile): Setup multi-stage build for docker file
  frontend/.dockerignore
  frontend/.gitignore
  frontend/Dockerfile
  frontend/app/(auth)/sign-up/page.tsx
  frontend/components/__tests__/(auth)/PasswordStrengthBar.test.tsx
  frontend/next.config.js
  frontend/next.config.mjs
  frontend/package-lock.json
  frontend/package.json
Due: frontend-trigger

Feat(frontend-auth): Add signin, signup page
  frontend/Dockerfile
  frontend/actions/createAccount.ts
  frontend/actions/getAuthCookies.ts
  frontend/actions/loginAccount.ts
  frontend/actions/setAuthCookies.ts
  frontend/app/(auth)/sign-in/page.tsx
  frontend/app/(auth)/sign-up/page.tsx
  frontend/components/(auth)/ThirdAppsButton.tsx
  frontend/components/(auth)/sign-up/EmailVerification.tsx
  frontend/components/Homepage/DocumentGroup.tsx
  frontend/components/Homepage/DocumentMultiCarousel.tsx
  frontend/components/Homepage/DocumentsSuggest.tsx
  frontend/components/Loading/DocumentMultiCarouselLoading.tsx
  frontend/components/Loading/HeroLoading.tsx
  frontend/components/Loading/VerifyTokenLoading.tsx
  frontend/components/Navbar/Navbar.tsx
  frontend/components/ui/button.tsx
  frontend/components/ui/calendar.tsx
  frontend/components/ui/card.tsx
  frontend/components/ui/dropdown-menu.tsx
  frontend/components/ui/toaster.tsx
  frontend/hooks/use-toast.ts
  frontend/middleware.ts
  frontend/next.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/schemas/SignInSchema.ts
  frontend/schemas/SignUpSchema.ts
  frontend/utils/ClientFetch.ts
  frontend/utils/ServerFetch.ts
  gitlab-templates/frontend.yml
Due: frontend-trigger

Feat(frontend-auth): Add zustand store
  frontend/components/Navbar/ResponsiveMenu.tsx
  frontend/components/Navbar/UserDropDown.tsx
  frontend/components/providers/ReactQueryProvider.tsx
  frontend/components/providers/UserProvider.tsx
  frontend/schemas/UserSchema.ts
  frontend/store/UserStore.ts
Due: frontend-trigger

Feat(frontend-auth): Add verify sign up page
  frontend/actions/verifyRegisterToken.ts
  frontend/app/(auth)/verify-token/page.tsx
  frontend/app/globals.css
  frontend/app/layout.tsx
  frontend/app/page.tsx
  frontend/components/(auth)/FailSignUp.tsx
  frontend/components/(auth)/SuccessSignUp.tsx
  frontend/components/(auth)/verify-token/NotifyRegister.tsx
  frontend/public/SignInVideo.webm
  frontend/public/SignUpVideo.webm
  frontend/public/VietnameseGirl.jpg
  frontend/public/VietnameseGirlChibi.jpg
  gitlab-templates/frontend.yml
Due: frontend-trigger

Test(frontend-cart): Change test directory structure
  frontend/__tests__/components/(auth)/PasswordStrengthBar.test.tsx
  frontend/__tests__/components/(auth)/ThirdAppsButton.test.tsx
  frontend/__tests__/components/Carousel/CustomDot.test.tsx
  frontend/__tests__/components/DocumentItem.test.tsx
  frontend/__tests__/components/Footer.test.tsx
  frontend/__tests__/components/Homepage/Container.test.tsx
  frontend/__tests__/components/Homepage/DocumentGroup.test.tsx
  frontend/__tests__/components/Homepage/DocumentMultiCarousel.test.tsx
  frontend/__tests__/components/Homepage/DocumentsSuggest.test.tsx
  frontend/__tests__/components/Homepage/Hero.test.tsx
  frontend/__tests__/components/Navbar/Navbar.test.tsx
  frontend/__tests__/components/Navbar/ResponsiveMenu.test.tsx
  frontend/__tests__/pages/(auth)/sign-in.test.tsx
  frontend/__tests__/pages/(auth)/sign-up.test.tsx
Due: frontend-trigger

Refactor(frontend-cart): Add type directory
  frontend/__mocks__/data/categories.tsx
  frontend/package-lock.json
  frontend/package.json
  frontend/store/UserStore.ts
  frontend/types/CategoryType.ts
  frontend/types/DocumentType.ts
  frontend/types/HeaderItemType.ts
  frontend/types/SocialMediaType.ts
  frontend/types/UserType.ts
  gitlab-templates/frontend.yml
Due: frontend-trigger

Refactor(frontend-cart): Import type to component
  frontend/components/(auth)/ThirdAppsButton.tsx
  frontend/components/DocumentItem.tsx
  frontend/components/Footer.tsx
  frontend/components/Homepage/Container.tsx
  frontend/components/Homepage/DocumentMultiCarousel.tsx
  frontend/components/Navbar/Navbar.tsx
  frontend/components/Navbar/ResponsiveMenu.tsx
  frontend/components/Navbar/UserDropDown.tsx
Due: frontend-trigger

Feature(frontend-auth): Add header to document detail page and documents page
  frontend/__mocks__/data/documents.tsx
  frontend/app/(user)/document-details/page.tsx
  frontend/app/(user)/documents/page.tsx
  frontend/components/(user)/DocumentInformation/DocumentAddition.tsx
  frontend/components/(user)/DocumentInformation/DocumentDetails.tsx
  frontend/components/(user)/Documents/CarouselImageSection.tsx
  frontend/components/(user)/Documents/Container.tsx
  frontend/components/(user)/Documents/DocumentsContainer.tsx
  frontend/components/(user)/Documents/DocumentsFilter.tsx
  frontend/components/ui/radio-group.tsx
  frontend/public/BookStore.jpg
  frontend/public/Filter.svg
  frontend/public/ModernLibrary.webp
  frontend/public/ModernLibrary1.jpg
  frontend/public/documens-carousel-1.webp
Due: frontend-trigger

Chore(frontend-cart): Add smallthing
  backend/src/main/java/ohka39/oudocumenthub/backend/controllers/UserController.java
  backend/src/main/java/ohka39/oudocumenthub/backend/models/Document.java
  backend/src/main/java/ohka39/oudocumenthub/backend/models/Faculty.java
  backend/src/main/java/ohka39/oudocumenthub/backend/payload/mapper/UserMapper.java
  backend/src/main/java/ohka39/oudocumenthub/backend/services/IUserService.java
  backend/src/main/java/ohka39/oudocumenthub/backend/services/impl/UserServiceImpl.java
  frontend/app/(user)/seller-channel/add-document/page.tsx
  frontend/app/(user)/seller-channel/layout.tsx
  frontend/app/(user)/seller-channel/page.tsx
  frontend/app/admin/dashboard/page.tsx
  frontend/app/admin/layout.tsx
  frontend/app/admin/user-management/page.tsx
  frontend/components/(user)/(UserSetting)/MyAccount/BasicInformationComponents/EditDOB.tsx
  frontend/components/(user)/(UserSetting)/MyAccount/BasicInformationComponents/EditGender.tsx
  frontend/components/(user)/(UserSetting)/MyAccount/BasicInformationComponents/EditName.tsx
  frontend/components/(user)/(UserSetting)/MyAccount/SensitiveInformationComponents/EditPassword.tsx
  frontend/components/(user)/Cart/CartProcess.tsx
  frontend/components/AdminSidebar.tsx/AdminSidebar.tsx
  frontend/components/Navbar/CartContainer.tsx
  frontend/components/Navbar/CartDialog.tsx
  frontend/components/SellerChannelSidebar/SellerChannelSidebar.tsx
  frontend/constants/index.ts
  frontend/next.config.js
  gitlab-templates/frontend.yml
Due: backend-trigger, frontend-trigger

Refactor(feature/cart): add template for data table
  backend/src/main/java/ohka39/oudocumenthub/backend/services/impl/DocumentServiceImpl.java
  frontend/app/(user)/seller-channel/documents/page.tsx
  frontend/app/admin/faculty-management/page.tsx
  frontend/app/admin/shipping-address-management/page.tsx
  frontend/components/Columns/faculty_column.tsx
  frontend/components/Columns/shipping_addresses_column.tsx
  frontend/components/DataTableColumnHeader/DataTableColumnHeader.tsx
  frontend/components/DataTableHeader/DataTableHeader.tsx
  frontend/components/DataTableOverview/DataTableOverview.tsx
  frontend/components/DataTablePagination/DataTablePagination.tsx
  frontend/components/DataTableViewOption/DataTableViewOption.tsx
  frontend/components/admin/faculty-management/AddButton.tsx
  frontend/components/admin/faculty-management/FacultyOverview.tsx
  frontend/components/admin/shipping-address-management/AddButton.tsx
  frontend/components/admin/shipping-address-management/ShippingOverview.tsx
  frontend/components/ui/data-table.tsx
  frontend/lib/API/faculties.ts
  frontend/lib/API/shipping_addresses.ts
  frontend/package-lock.json
  frontend/package.json
Due: backend-trigger, frontend-trigger

Feat(feature-cart): Add dynamic page for document detail
  backend/src/main/java/ohka39/oudocumenthub/backend/advices/GlobalAuthExceptionHandler.java
  backend/src/main/java/ohka39/oudocumenthub/backend/components/TokenGenerator.java
  backend/src/main/java/ohka39/oudocumenthub/backend/configs/SecurityConfiguration.java
  backend/src/main/java/ohka39/oudocumenthub/backend/controllers/DocumentController.java
  backend/src/main/java/ohka39/oudocumenthub/backend/controllers/FacultyController.java
  backend/src/main/java/ohka39/oudocumenthub/backend/enums/EDocumentStatus.java
  backend/src/main/java/ohka39/oudocumenthub/backend/models/Document.java
  backend/src/main/java/ohka39/oudocumenthub/backend/models/OnlineDocument.java
  backend/src/main/java/ohka39/oudocumenthub/backend/models/PaperDocument.java
  backend/src/main/java/ohka39/oudocumenthub/backend/models/User.java
  backend/src/main/java/ohka39/oudocumenthub/backend/payload/DTO/DocumentDTO.java
  backend/src/main/java/ohka39/oudocumenthub/backend/payload/mapper/DocumentMapper.java
  backend/src/main/java/ohka39/oudocumenthub/backend/repositories/DocumentRepository.java
  backend/src/main/java/ohka39/oudocumenthub/backend/services/impl/DocumentServiceImpl.java
  backend/src/main/java/ohka39/oudocumenthub/backend/services/interfaces/IDocumentService.java
  backend/src/main/resources/schema.sql
  frontend/actions/documents.ts
  frontend/app/(user)/[document_shorturl]/page.tsx
  frontend/app/(user)/seller-channel/documents/page.tsx
  frontend/app/admin/faculty-management/page.tsx
  frontend/components/(user)/DocumentInformation/DocumentDetails.tsx
  frontend/components/Columns/seller_channel_column.tsx
  frontend/components/DataTableOverview/DataTableOverview.tsx
  frontend/constants/index.ts
  frontend/lib/API/documents.ts
  frontend/types/DocumentStatusType.ts
  frontend/types/DocumentType.ts
Due: backend-trigger, frontend-trigger

Chore(feature/cart): change something
  backend/src/main/java/ohka39/oudocumenthub/backend/controllers/OrderController.java
  frontend/app/(user)/cart/[processStep]/page.tsx
  frontend/components/(user)/Cart/CartItem.tsx
  frontend/components/(user)/Cart/OrderPaypal.tsx
  frontend/components/(user)/Cart/TransactionProcess.tsx
  frontend/components/Forms/OrderContactForm.tsx
  frontend/components/Navbar/CartContainer.tsx
  frontend/schemas/OrderContactSchema.ts
Due: backend-trigger, frontend-trigger

Chore(feature/cart): Change more specifications
  frontend/app/admin/shipping-address-management/page.tsx
  frontend/components/Forms/CartProcessForm.tsx
  frontend/store/CartStore.ts
Due: frontend-trigger
