Repository OhKa39/ou-document-hub: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend-trigger, frontend-trigger

backend-trigger:
  stage: trigger
  trigger:
    include:
    - gitlab-templates/backend.yml

frontend-trigger:
  stage: trigger
  trigger:
    include:
    - gitlab-templates/frontend.yml

Add dev pipeline
  .gitlab-ci.yml
  gitlab-templates/dev.yml
Due: none

Edit dev pipeline in .gitlab-ci.yml
  .gitlab-ci.yml
  README.md
  frontend/README.md
Due: frontend-trigger

Add backend template
  .gitlab-ci.yml
  README.md
  backend/.gitignore
  backend/.mvn/wrapper/maven-wrapper.properties
  backend/mvnw
  backend/mvnw.cmd
  backend/pom.xml
  backend/src/main/java/ohka39/oudocumenthub/backend/BackendApplication.java
  backend/src/main/resources/application.properties
  backend/src/test/java/ohka39/oudocumenthub/backend/BackendApplicationTests.java
  frontend/README.md
  gitlab-templates/base-line.yml
Due: backend-trigger, frontend-trigger

Refactor(gitlab-ci): Not run cicd when create new branch
  .gitlab-ci.yml
  frontend/README.md
Due: frontend-trigger

Feat(frontend): Add docker file
  docker-compose.yml
  frontend/.dockerignore
  frontend/Dockerfile
  frontend/package-lock.json
  frontend/package.json
Due: frontend-trigger

Refactor(frontend.yml): Add build job
  .idx/dev.nix
  docker-compose.yml
  frontend/README.md
  gitlab-templates/frontend.yml
Due: frontend-trigger

chore(frontend): config docker-compose, tailwind, jest
  .prettierrc.js
  .vscode/settings.json
  docker-compose.yml
  frontend/app/globals.css
  frontend/jest.config.ts
  frontend/jest.setup.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/tailwind.config.ts
  frontend/test-report.html
  frontend/tsconfig.json
Due: frontend-trigger

Feat(navbar + footer): Add navbar + footer
  docker-compose.yml
  frontend/Dockerfile
  frontend/app/layout.tsx
  frontend/app/page.tsx
  frontend/components/Footer.tsx
  frontend/components/Navbar/Navbar.tsx
  frontend/components/Navbar/ResponsiveMenu.tsx
  frontend/components/__tests__/Navbar/Navbar.test.tsx
  frontend/components/__tests__/Navbar/ResponsiveMenu.test.tsx
  gitlab-templates/frontend.yml
Due: frontend-trigger

Feat(gitlab-ci): Add unit test job to frontend.yml
  gitlab-templates/frontend.yml
Due: none

Fix(dockerfile-frontend): Fix the build image
  docker-compose.yml
  frontend/.dockerignore
  frontend/.gitignore
  frontend/Dockerfile
  frontend/components/Navbar/ResponsiveMenu.tsx
  frontend/jest.config.ts
  frontend/jesthtmlreporter.config.json
  frontend/test-report.html
  gitlab-templates/frontend.yml
Due: frontend-trigger

Feature(frontend.yml): Add lint test in frontend cicd
  docker-compose.yml
  gitlab-templates/frontend.yml
Due: none

Feat(frontend.yml): Add Sonar review code phase
  docker-compose.yml
  frontend/Dockerfile
  frontend/components/Navbar/ResponsiveMenu.tsx
  frontend/sonar-project.properties
  gitlab-templates/frontend.yml
Due: frontend-trigger

Fix(frontend.yml): Fix quality phase job
  docker-compose.yml
  frontend/.dockerignore
  frontend/Dockerfile
  gitlab-templates/frontend.yml
Due: frontend-trigger

chore(Navbar): Add more test
  frontend/components/Navbar/Navbar.tsx
  frontend/components/__tests__/Navbar/Navbar.test.tsx
Due: frontend-trigger

chore(ResponsiveMenu): Add more test
  frontend/components/Navbar/ResponsiveMenu.tsx
  frontend/components/__tests__/Navbar/ResponsiveMenu.test.tsx
Due: frontend-trigger

Feat(Hero): Add hero component to homepage
  .idx/integrations.json
  frontend/app/globals.css
  frontend/app/page.tsx
  frontend/components.json
  frontend/components/Homepage/Hero.tsx
  frontend/components/__tests__/Homepage/Hero.test.tsx
  frontend/lib/utils.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/public/blue-pattern.png
  frontend/public/test1.jpg
  frontend/public/test2.jpg
  frontend/public/test3.jpg
  frontend/tailwind.config.ts
Due: frontend-trigger

Fix(pipeline): Fix code-quality job
  docker-compose.yml
  frontend/Dockerfile
  gitlab-templates/frontend.yml
Due: frontend-trigger

Chore(frontend): format code
  frontend/components/Homepage/Hero.tsx
  frontend/components/Navbar/Navbar.tsx
  frontend/components/Navbar/ResponsiveMenu.tsx
  frontend/components/__tests__/Navbar/Navbar.test.tsx
  frontend/components/__tests__/Navbar/ResponsiveMenu.test.tsx
  gitlab-templates/frontend.yml
Due: frontend-trigger

Feat(footer): Add footer component
  frontend/components/Footer.tsx
  frontend/components/__tests__/Footer.test.tsx
Due: frontend-trigger

Feat(ResponsiveMenu): Change menu UI
  frontend/components/Navbar/ResponsiveMenu.tsx
  frontend/components/__tests__/Navbar/ResponsiveMenu.test.tsx
  frontend/components/ui/button.tsx
  frontend/package-lock.json
  frontend/package.json
Due: frontend-trigger

Chore(frontend pipeline, Footer, Hero, Layout): Change title layout, responsive type footer, hero, fix frontend pipeline
  frontend/app/layout.tsx
  frontend/components/Footer.tsx
  frontend/components/Homepage/Hero.tsx
  gitlab-templates/frontend.yml
Due: frontend-trigger

Chore(Hero + ResponsiveMenu): Small change
  frontend/components/Homepage/Hero.tsx
  frontend/components/__tests__/Homepage/Hero.test.tsx
  frontend/components/__tests__/Navbar/ResponsiveMenu.test.tsx
  frontend/public/Book1.jpg
  frontend/public/Book2.jpg
  frontend/public/Book3.jpg
Due: frontend-trigger

Feat(DocumentItem): Add Document Item
  frontend/app/page.tsx
  frontend/components/DocumentItem.tsx
  frontend/components/Homepage/DocumentMultiCarousel.tsx
  frontend/components/__tests__/DocumentItem.test.tsx
  frontend/package-lock.json
  frontend/package.json
  gitlab-templates/frontend.yml
Due: frontend-trigger

Feat(Carousel): Add multi carousel component to homepage
  frontend/components/Carousel/CustomDot.tsx
  frontend/components/Carousel/CustomLeftArrow.tsx
  frontend/components/Carousel/CustomRightArrow.tsx
  frontend/components/DocumentItem.tsx
  frontend/components/Homepage/DocumentMultiCarousel.tsx
  frontend/components/Homepage/Hero.tsx
  frontend/components/__tests__/Carousel/CustomDot.test.tsx
  frontend/components/__tests__/DocumentItem.test.tsx
  frontend/components/__tests__/Homepage/DocumentMultiCarousel.test.tsx
Due: frontend-trigger

Fix(Footer, Hero, Carousel, Navbar): Fix zoom out distorted
  frontend/components/DocumentItem.tsx
  frontend/components/Footer.tsx
  frontend/components/Homepage/DocumentMultiCarousel.tsx
  frontend/components/Homepage/Hero.tsx
  frontend/components/Navbar/Navbar.tsx
  frontend/components/__tests__/Footer.test.tsx
  frontend/components/__tests__/Homepage/DocumentMultiCarousel.test.tsx
Due: frontend-trigger

Feat(DocumentGroup): Add document group to home page
  frontend/app/page.tsx
  frontend/components/Homepage/DocumentGroup.tsx
  frontend/components/__tests__/Homepage/DocumentGroup.test.tsx
  frontend/public/IT.jpg
  frontend/public/IT.png
  frontend/public/economy.webp
  frontend/public/law.webp
Due: frontend-trigger

Refactor(frontend): Improve performance of image load
  frontend/app/page.tsx
  frontend/components/Carousel/CustomDot.tsx
  frontend/components/Carousel/CustomLeftArrow.tsx
  frontend/components/Carousel/CustomRightArrow.tsx
  frontend/components/DocumentItem.tsx
  frontend/components/Footer.tsx
  frontend/components/Homepage/DocumentGroup.tsx
  frontend/components/Homepage/DocumentMultiCarousel.tsx
  frontend/components/Homepage/Hero.tsx
  frontend/components/Navbar/ResponsiveMenu.tsx
  frontend/components/__tests__/DocumentItem.test.tsx
  frontend/package-lock.json
  frontend/public/Book1.webp
  frontend/public/Book2.webp
  frontend/public/Book3.webp
  frontend/public/IT.webp
  frontend/public/blue-pattern.webp
  frontend/robots.txt
Due: frontend-trigger

Refactor(DocumentGroup, Hero): Optimize image and change size fit with percent
  frontend/app/globals.css
  frontend/components/Carousel/CustomDot.tsx
  frontend/components/Homepage/DocumentGroup.tsx
  frontend/components/Homepage/Hero.tsx
  frontend/public/Book1.jpg
  frontend/public/Book2.jpg
  frontend/public/Book3.jpg
  frontend/public/IT.jpg
  frontend/public/IT.png
  frontend/public/blue-pattern.png
Due: frontend-trigger

Feat(DocumentsSuggest): Add document suggest component to home page
  frontend/app/page.tsx
  frontend/components/DocumentItem.tsx
  frontend/components/Homepage/Container.tsx
  frontend/components/Homepage/DocumentsSuggest.tsx
  frontend/components/__tests__/DocumentItem.test.tsx
Due: frontend-trigger

Chore(frontend): Add some animation to document group
  frontend/components/DocumentItem.tsx
  frontend/components/Homepage/Container.tsx
  frontend/components/Homepage/DocumentGroup.tsx
  frontend/components/Homepage/Hero.tsx
Due: frontend-trigger

Fix(frontend): Fix text overflow document item
  frontend/components/DocumentItem.tsx
  frontend/components/Homepage/Container.tsx
  frontend/components/Homepage/DocumentMultiCarousel.tsx
  frontend/components/Homepage/DocumentsSuggest.tsx
Due: frontend-trigger

Fix(frontend): Make all test cases are pass
  .idx/integrations.json
  docker-compose.yml
  frontend/README.md
  frontend/components/Carousel/CustomDot.tsx
  frontend/components/DocumentItem.tsx
  frontend/components/Footer.tsx
  frontend/components/Homepage/Hero.tsx
  frontend/components/Navbar/Navbar.tsx
  frontend/components/Navbar/ResponsiveMenu.tsx
  frontend/components/__tests__/Carousel/CustomDot.test.tsx
  frontend/components/__tests__/DocumentItem.test.tsx
  frontend/package-lock.json
  frontend/sonar-project.properties
  gitlab-templates/base-line.yml
  gitlab-templates/frontend.yml
Due: frontend-trigger

Chore(backend): Setup database, properties file
  .gitignore
  .idx/dev.nix
  backend/pom.xml
  backend/src/main/resources/application-dev.properties
  backend/src/main/resources/application.properties
  docker-compose.yml
Due: backend-trigger

Feat(sign-up): Add sign up logic in the server
  backend/src/main/java/ohka39/oudocumenthub/backend/Advice/GlobalExceptionHandler.java
  backend/src/main/java/ohka39/oudocumenthub/backend/BackendApplication.java
  backend/src/main/java/ohka39/oudocumenthub/backend/Config/MyConfiguration.java
  backend/src/main/java/ohka39/oudocumenthub/backend/Controller/AuthController.java
  backend/src/main/java/ohka39/oudocumenthub/backend/DTO/Request/SignUpRequest.java
  backend/src/main/java/ohka39/oudocumenthub/backend/Model/User.java
Due: backend-trigger

Build(backend): Add docker build and dependency
  .gitignore
  backend/.dockerignore
  backend/Dockerfile
  backend/pom.xml
  backend/src/main/resources/application-dev.properties
  docker-compose.yml
Due: backend-trigger

Config(backend): Add cors, redis, security configuration
  backend/src/main/java/ohka39/oudocumenthub/backend/BackendApplication.java
  backend/src/main/java/ohka39/oudocumenthub/backend/configs/CorsConfiguration.java
  backend/src/main/java/ohka39/oudocumenthub/backend/configs/RedisConfiguration.java
  backend/src/main/java/ohka39/oudocumenthub/backend/configs/SecurityConfiguration.java
Due: backend-trigger

Feat(sign-up): Add auth controller to backend
  backend/src/main/java/ohka39/oudocumenthub/backend/Advice/GlobalExceptionHandler.java
  backend/src/main/java/ohka39/oudocumenthub/backend/Config/MyConfiguration.java
  backend/src/main/java/ohka39/oudocumenthub/backend/Controller/AuthController.java
  backend/src/main/java/ohka39/oudocumenthub/backend/DTO/Request/SignUpRequest.java
  backend/src/main/java/ohka39/oudocumenthub/backend/advices/GlobalExceptionHandler.java
  backend/src/main/java/ohka39/oudocumenthub/backend/components/OnConfirmationRegisterEvent.java
  backend/src/main/java/ohka39/oudocumenthub/backend/components/RegistrationListener.java
  backend/src/main/java/ohka39/oudocumenthub/backend/controllers/AuthController.java
  backend/src/main/java/ohka39/oudocumenthub/backend/payload/requests/UserRequest.java
  backend/src/test/java/ohka39/oudocumenthub/backend/controllers/AuthControllerTest.java
Due: backend-trigger

Feat(sign-up): Add user service to backend
  backend/src/main/java/ohka39/oudocumenthub/backend/exceptions/User/EntityAlreadyExistsException.java
  backend/src/main/java/ohka39/oudocumenthub/backend/exceptions/User/UserNotFoundException.java
  backend/src/main/java/ohka39/oudocumenthub/backend/payload/responses/UserResponse.java
  backend/src/main/java/ohka39/oudocumenthub/backend/services/IUserService.java
  backend/src/main/java/ohka39/oudocumenthub/backend/services/UserServiceImpl.java
Due: backend-trigger

Feat(sign-up): Add role, user, register token repositories
  backend/src/main/java/ohka39/oudocumenthub/backend/Model/User.java
  backend/src/main/java/ohka39/oudocumenthub/backend/enums/EGender.java
  backend/src/main/java/ohka39/oudocumenthub/backend/enums/ERole.java
  backend/src/main/java/ohka39/oudocumenthub/backend/models/RegisterToken.java
  backend/src/main/java/ohka39/oudocumenthub/backend/models/Role.java
  backend/src/main/java/ohka39/oudocumenthub/backend/models/User.java
  backend/src/main/java/ohka39/oudocumenthub/backend/repositories/RegisterTokenRepository.java
  backend/src/main/java/ohka39/oudocumenthub/backend/repositories/RoleRepository.java
  backend/src/main/java/ohka39/oudocumenthub/backend/repositories/UserRepository.java
Due: backend-trigger

Refactor(gitlab-pipeline, docker-compose): Add backend pipeline
  backend/Dockerfile
  backend/src/main/resources/application-dev.properties
  backend/src/main/resources/application.properties
  docker-compose.yml
  gitlab-templates/backend.yml
  gitlab-templates/frontend.yml
Due: backend-trigger

Path conditions:
  backend-trigger: any of: backend/**/*
  frontend-trigger: any of: frontend/**/*
